// Base Styles

body
  font-family: "Open Sans", sans-serif

h1
  color: #ccc
  weight: 300

figure
  margin: auto

.content
  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%



// Parallax
