// Base Styles
@import vars

body
  font-family: "Open Sans", sans-serif

h1
  color: $title
  weight: 3200

figure
  margin: auto

.content
  background: $bg
  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%