//

$primary:           rgb(0, 206, 209)
$primary-faded:     rgba(0, 206, 209, 0.5)

$text:              rgb(20, 20, 20)
$text-smooth:       rgba(20, 20, 20, 0.5)
$title:             rgb(45, 45, 45)
$title-smooth:      rgba(45, 45, 45, 0.5)

$hr:                rgba(20, 20, 20, 0.1)

$c-link:            $primary
$c-link-h:          $primary