doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title BlackBird Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
  
  body
    
    header.bird-box
      .back-bird
      .logo
      .fore-bird
      
    
    section.content
      
      article
        
        h1 Unique Style
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr

        .clothes-pics

          .row.img-row
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
              
          .row.img-row
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
              
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
          
          .row.img-row
            figure.columns.four
              img(src="images/model3.jpg")
              figcaption BlackBird Jacket - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model1.jpg")
              figcaption BlackBird Sweater - <strong>$135</strong>
            
            figure.columns.four
              img(src="images/model2.jpg")
              figcaption BlackBird Trousers - <strong>$135</strong>
                
        
        h1 Fine Tayloring
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr
        
        .large-window
          .window-tint
            .promo-text Fall Suits
              strong <span>from</span> $99
              a(href="").window-cta Shop Now
        
        
        
        h1 Rich History
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr
        
        
        .blog-posts.row
          
          .post.columns.four.post-1
            h5 Post Title
            img(src="images/posts/one.jpg")
            p Incididunt ut labore et dolore magna.
            p: a.button(href="") Read More
            
          .post.columns.four.post-2
            h5 Post Title
            img(src="images/posts/two.jpg")
            p Lorem ipsum dolor sit amet.
            p: a.button(href="") Read More
            
          .post.columns.four.post-3
            h5 Post Title
            img(src="images/posts/three.jpg")
            p Duis aute irure dolor in reprehenderit.
            p: a.button(href="") Read More
        
    footer
      .row.footer-stuff
        .columns.three
          strong FIND US ON
          ul
            li: a(href="") Twitter
            li: a(href="") Facebook
            li: a(href="") Pinterest
            li: a(href="") Instagram
        
        .columns.three
          strong OTHER SHOPS
          ul
            li: a(href="") Red Robin
            li: a(href="") Emerald Eagle
            li: a(href="") Crimson Crane
            li: a(href="") Auburn Abbot
        
        .columns.six
          p <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          
          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")


    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
