doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title BlackBird Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
  
  body
  
    #load_screen
      #loading
        #loader-wrapper
          #loader
          .loader-section.section-left
          .loader-section.section-right
    
    header.bird-box
      .back-bird
      .logo
      .fore-bird
      
    section.content
      
      article
        h1 Clothing Store
        h2 - Special sale for DevTips members -
        hr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a posuere eros, vitae aliquam orci. Duis rutrum ipsum et mauris imperdiet tempus id quis risus. In tellus massa, imperdiet a sem vitae, dapibus feugiat urna. Etiam dapibus nisi vitae sapien consectetur, in finibus dui efficitur. Donec finibus tellus mi, vitae rhoncus velit lacinia non. Aliquam at convallis est. Nam nulla leo, accumsan eget suscipit sit amet, blandit eget magna.
        hr

        .clothes-pics
          .row.img-row
            figure.columns.four
              .cover-image
                img(src="/images/model1.jpg")
              figcaption BlackBird black Sweater - <strong>$135</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model2.jpg")
              figcaption BlackBird black Trousers - <strong>$85</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model3.jpg")
              figcaption BlackBird black Jacket - <strong>$95</strong>
          .row.img-row
            figure.columns.four
              .cover-image
                img(src="/images/model4.jpg")
              figcaption BlackBird Skinny Trousers - <strong>$75</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model8.jpg")
              figcaption BlackBird Jeans - <strong>$105</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model9.jpg")
              figcaption BlackBird Shorts - <strong>$95</strong>
          .row.img-row
            figure.columns.four
              .cover-image
                img(src="/images/model14.jpg")
              figcaption BlackBird Sweater - <strong>$115</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model7.jpg")
              figcaption BlackBird Sweater - <strong>$105</strong>
            figure.columns.four
              .cover-image
                img(src="/images/model12.jpg")
              figcaption BlackBird Sweater - <strong>$115</strong>
          
        
        hr
        p Quisque nec faucibus sapien. Nulla ac iaculis lorem. Pellentesque lacus dolor, euismod quis feugiat faucibus, vestibulum et est. Suspendisse tempus luctus neque at accumsan. Mauris sed mi est. Vivamus consectetur lacus quam, at suscipit libero dignissim non.        
        hr
        
        .large-window.periscope-1
        .large-window.periscope-2
        
        h1 More coming soon!
        hr
        p Morbi luctus erat odio, non congue lectus porta ac. Morbi mattis mattis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin consectetur sem, nec pretium elit volutpat sit amet. Vestibulum ac mi at odio consectetur euismod sollicitudin finibus ante. Duis sit amet tortor orci. Phasellus lobortis ornare massa, sed dictum tortor malesuada vel. Phasellus vel egestas augue, vitae aliquet magna.
        hr
        
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/functions.js")
    
  footer
    p Made with <3 by me, <a href="http://aldesign.it">Andrea</a> - thanks to <a href="https://twitter.com/travisneilson">@travisneilson</a> of <a href="https://youtube.com/DevTips-for-Designers">DevTips<a>.